[Desktop Entry]
Type=Application
Exec=/usr/local/bin/radiofm-indicator.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Radio_FM Indicator
